@media (max-width: 768px) {
  #wrapper {
    grid-template-columns: 2fr 0.5fr;
    grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "aside aside"
    "footer footer";
  }


  nav a {
      margin: 10px 0;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #292a2b;
  color: #343a40;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #007bff;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

/* Navigation Bar */
nav {
  background-color: #28a745;
  padding: 15px;
  display: flex;
  justify-content: center;
}

nav a {
  color: #ffffff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #ffc107;
}

/* Main Content */
main {
  background-color: #292a2b;
  padding: 20px;
  text-align: left;
}

/* Buttons */
.button {
  background-color: #dc3545;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: #c82333;
}

/* Footer */
footer {
  background-color: #007bff;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #007bff; /* Bright blue */
  margin: 20px 0;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  color:#28a745
}

h2 {
  font-size: 2em;
  color: #28a745; /* Bright green */
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  color: #f0e6e6; /* Dark gray for readability */
  margin: 10px 0 20px 0;
  text-align: justify;
}

p.lead {
  font-size: 1.25em;
  font-weight: bold;
  color: #f0e6e6; /* Bright blue */
  margin-bottom: 25px;
}

input[type="text"], input[type="email"], textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0 20px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
}

input[type="submit"] {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Links */
a {
  color: #f0e6e6;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #f0e6e6;
  text-decoration: underline;
}

/* Lists */
ul, ol {
  margin: 0.5em;
  padding-left: 1em;
}

ul li {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  color: #f0e6e6; /* Dark gray for readability */
  margin: 10px 0 20px 0;
  text-align: left;
}

ol li {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  color: #f0e6e6; /* Dark gray for readability */
  margin: 10px 0 20px 0;
  text-align: left;
}

ul.custom-list li::before {
  content: '✔'; /* Custom icon */
  color: #28a745;
  margin: 0.5em;
  padding-left: 1em;
}

blockquote {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-style: italic;
  color: #f0e6e6;
  border-left: 5px solid #007bff;
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #e9f5ff;
}