@media (max-width: 768px) {
  nav {
      flex-direction: column;
  }

  nav a {
      margin: 10px 0;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #007bff;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

/* Navigation Bar */
nav {
  background-color: #28a745;
  padding: 15px;
  display: flex;
  justify-content: center;
}

nav a {
  color: #ffffff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #ffc107;
}

/* Main Content */
main {
  padding: 20px;
  text-align: center;
}

/* Buttons */
.button {
  background-color: #dc3545;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: #c82333;
}

/* Footer */
footer {
  background-color: #007bff;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
